body{
    background-color:aliceblue;
    text-align: center;
}

.heading{
    color:gray;
    text-shadow: 1px 1px 1px black;
}

@media(min-width:600px){
    .main_heading {
        color:dimgray;
        flex:1;
        border: 5px solid lightsteelblue;
        justify-content:center;
        margin:0 auto;
        width:50%;
        margin-top:40px;
        margin-bottom:40px;
    }

    .photo_container, .column{
        flex:1;
    }

    .photo{
        width:300px;
        height:auto;
    }

    .about_details{
        flex:1;
        flex-direction:column;
        margin:0 auto;
        justify-content:right;
        flex-basis:50%;
        margin-bottom:20px;
        margin-top:20px;
    }

    .about_container, .cover{
        display:flex;
        border: 2px solid lightsteelblue;
        justify-content:center;
        margin: 20px auto;
        width:80%;
    }
    
    .about_container{
        flex-direction:row;
        padding-bottom:25px;
        flex-wrap:wrap;
    }
    
    .cover{
        flex-direction:column;
        padding:20px;
    }

    .links{
        flex-wrap:wrap;
        flex-basis:100%;
        flex-direction:column;
    }

    .details{
        display:flex;
        justify-content:center;
        justify-content:space-around;
        margin:0 auto;
        flex-direction:column;
    }

    .column{
        border: 2px solid lightsteelblue;
        flex-direction:column;
        margin:0 auto;
        justify-content:center;
        width:80%;
        margin-bottom:20px;
        margin-top:20px;
    }

}

